

Please enter values x and y for x <%=radio%> y = z.

<form method= "post" action="/two_numbers">
	<input type="hidden" name="first_name" value= <%=first%> > 
	<input type="hidden" name="last_name" value= <%=last%> > 
	<input type="hidden" name="password" value= <%=pass%> > 
	<input type="hidden" name="radio" value= <%=radio%> >
	x: <input type = "number" name = "num_1"> </br>
	y: <input type = "number" name = "num_2">
	<input type  = "submit">
</form>

